<?xml version="1.0" ?>
<!--
/**
 * @author      Webjump Develop Team <dev@webjump.com.br>
 * @copyright   2022 Webjump (http://www.webjump.com.br)
 * @license     http://www.webjump.com.br Copyright
 * @link        http://www.webjump.com.br
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="plugin_trilha" type="Webjump\HelloWord\Plugin\Plugin" />
    </type>

    <virtualType name="handlerTrilha" type="Magento\Framework\Logger\Handler\Base" >
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/custom-debug.log</argument>
       </arguments>
    </virtualType>

    <virtualType name="logTrilha" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">helloWord</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">handlerTrilha</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Webjump\HelloWord\Plugin\Plugin">
         <arguments>
            <argument name="log" xsi:type="object">logTrilha</argument>
         </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="commandexample_somecommand" xsi:type="object">Webjump\HelloWord\Console\Command\Comando</item>
            </argument>
        </arguments>
    </type>

</config>
